{
  "trailingComma": "none",
  "semi": true,
  "semicolon": true,
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
